<tr>
    <td title="Creator">@Comment.Creator.Name</td>
    <td title="Creation Time">@Comment.CreationTime</td>
    <td title="Text">@Comment.Text</td>
    <td title="# Likes">@Comment.Likes</td>
    <td>
        <button @onclick="@AddLike">👍</button>
        <button @onclick="@RemoveLike">👎</button>
    </td>
</tr>


@code {

}
